<h3 class="ui center aligned icon header">
  <i class="circular  inverted red  users icon"></i>
  Friends
</h3>
<div class="ui two column grid">
<div class="twelve wide column grid">
  <div class="ui fluid raised card chatbox">
  <div class="content">
<div class="ui large feed">

<% @messages.each do |message| %>
<div class="event">
  <div class="content">
    <div class="summary">
      <em><%=message.user.name%></em>: <%=message.body%>
    </div>
  </div>
</div>
<% end %>

</div>
</div>
<div class="extra content">
  <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path) do |f| %>

  <div class="field">
    <div class="ui fluid icon input ">
      <div class="ui input">
    <%= f.text_field :body %>
      </div>
      <%=f.button '<i class="bordered inverted red icon edit"></i>'.html_safe %>
    </div>
  </div>

      <% end %>
  </div>
</div>
</div>


<div class="four wide column">
  <div class="ui fluid raised card chatbox">
  <div class="content">
<div class="ui inverted vertical pointing menu">
  <a class="active item">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
</div>
</div>
</div>
</div>
